* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 3%;
}

.use i {
    margin: 10px;
    color: black;
}

.use i:hover {
    color: gray;
}

.body {
    border: 3px solid black;
    margin-left: -150px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="search"] {
    margin-left: 20px;
    border: none;
    font-size: medium;
}

.sear {
    margin: 0 10px;
}

.hm {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    margin-top: 60px;
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 22px;
}

.hm a {
    margin: 0 10px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

.hm a:hover {
    color: rgb(138, 9, 155);
}

.hoab {
    background-color: rgb(245, 244, 244);
    padding: 20px 100px;
}

.hoab span {
    color: blueviolet;
}

main {
    text-align: center;
    padding: 230px;
}

.two {
    position: relative;
    top: -15px;
    left: 120px;
    border-radius: 50%;
    background-color: rgb(163, 6, 163);
    color: white;
    padding: 0 5px;
}

main i {
    color: green;
    font-size: 70px;
}

main h1 {
    font-size: 50px;
}

main h5 {
    color: rgb(168, 167, 167);
    font-size: large;
}

.ol {
    font-size: 1rem;
    position: relative;
    background-color: rgb(138, 9, 155);
    border: 1px solid rgb(138, 9, 155);
    padding: 10px;
    border-radius: 7px;
    top: 0;
    transition: top ease 0.7s;
    text-decoration: none;
    color: white;
}

.ol:hover {
    top: -6px;
    box-shadow: 10px 5px 10px gray;

}

footer {
    display: block;
    margin: 0 50px;
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 5%;
}

.end {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.men {
    margin: 0 50px;
    padding: 10px 0;
}

.men h4 {
    margin: 10px 0;
    color: rgb(143, 142, 142);
}

.en h2 {
    margin-left: 50px;
}

footer h5 {
    color: rgb(143, 142, 142);
}

footer a{
    color: purple;
}

.info i {
    color: rgb(138, 9, 155);
    margin: 0 10px;
    font-size: large;
}

.info h4 {
    color: black;
}

.email {
    padding: 10px;
    border-radius: 3px;
    border-color: rgba(209, 208, 208, 0.87);
    border-style: double;
}

.submit {
    padding: 10px;
    color: white;
    background-color: rgb(78, 8, 143);
    border: none;
    border-radius: 3px;
}

.submit:hover {
    background-color: purple;
    cursor: pointer;
    }

.ghazal {
    padding: 100px;
    text-align: center;
}